extends ../layout

block content
 .jumbotron
    .row.justify-content-center
        h1 Lista Usuarios
 .container
    table.table.table-bordered.table-dark
        thead
            tr  
                th(scope='col') Nombre
                th(scope='col') Email
                th(scope='col') Verificado
                th(scope="col")
                th(scope='col')
        tbody
            each usuario in usuarios
                tr
                    td= usuario.nombre
                    td= usuario.email
                    td= usuario.verificado ? 'SI' : 'NO'
                    td
                        a.btn.btn-warning(href='usuarios/' + usuario.id + '/update') Editar
                    td
                        form.inline(method='post' action='usuarios/' + usuario.id + '/delete')
                            input(type='hidden' name='id' value= usuario.id)
                            button.btn.btn-danger.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                = 'Eliminar'
    .row.justify-content-end
        a.btn.btn-primary(href="/usuarios/create") Nuevo Usuario 