extends ../layout

block content
    .jumbotron
        .row.justify-content-center
            h1 Actualizar Usuario
    .container
        .container#nb
            form(action=`/usuarios/${usuario.id}/update` method='post')
                .row
                    .col-6
                        .form-group
                            label(for='nombre') Nombre:
                            input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'is-invalid' : '')
                            if errors.nombre
                                small#nombreHelp.text-danger
                                    = errors.nombre.message
                .row.justify-content-center
                    .col-6
                        input.btn.btn-success#guardar(type="submit", value="Guardar")
        .container
            .row.justify-content-end
                    a.btn.btn-primary(href="/usuarios") Volver