extends ../layout

block content
    .jumbotron
        .row.justify-content-center
            h1 Nueva Bicicleta
    .container
        .container#nb
            form(action='/bicicletas/create' method='post')
                .row
                    .col-6
                        .form-group
                            label(for='code') ID:
                            input#id.form-control(type='text' name='code')
                    .col-6
                        .form-group
                            label(for='color') Color:
                            input#color.form-control(type='text' name='color')
                    .col-6
                        .form-group
                            label(for='modelo') Modelo:
                            input#modelo.form-control(type='text' name='modelo')
                    .col-6
                        .form-group
                            label(for='lat') Latitud:
                            input#lat.form-control(type='text' name='lat')
                .row.justify-content-end
                    .col-6.align-self-end
                        .form-group
                            label(for='lng') Longitud:
                            input#lng.form-control(type='text' name='lng')
                .row.justify-content-center
                    .col-6
                        input.btn.btn-success#guardar(type="submit", value="Guardar")
        .container
            .row.justify-content-end
                    a.btn.btn-primary(href="/bicicletas") Volver